POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_DB=catalog
CDC_DB_USER=cdc_reader
CDC_DB_PASSWORD=replace-with-a-separate-random-alphanumeric-password
WRITER_DB_USER=catalog_writer
WRITER_DB_PASSWORD=replace-with-another-random-alphanumeric-password
REDIS_PASSWORD=replace-with-a-long-random-alphanumeric-password
MEILI_MASTER_KEY=replace-with-at-least-16-random-bytes
POSTGRES_PORT=5432
REDIS_PORT=6379
MEILI_PORT=7700
MONITOR_PORT=8080
CDC_MAX_ATTEMPTS=5
CDC_CLAIM_IDLE_MS=30000
CDC_KEY_LOCK_SECONDS=120
INDEXER_PROCESSING_DELAY_MS=0
VISIBILITY_MARKER_RETENTION_SECONDS=604800
VISIBILITY_MARKER_CLEANUP_SECONDS=3600
STALENESS_SLO_MS=1000
STALENESS_POLL_SECONDS=0.12
SAMPLE_WINDOW=10000
LOADGEN_RATE=5
LOADGEN_DURATION_SECONDS=60
LOADGEN_SEED=2026
